body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}
header h1 {
    margin: 0;
    color: #1F2024;
    font-size: 2rem;
    font-weight: 600;
}
header p {
    margin: 0;
    color: #138380;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 200;
}

/* PHONE NAV HERE */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 1.2rem;
        font-size: 1rem;
        text-decoration: none;
        color: #138380;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #c6a088; 
    }
    nav .active a {
        background-color: #c6a088;
        color: white;
    }
} /*end small screens*/

@media only screen and (min-width: 601px) {
    nav {
        background-color: #c6a088;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        padding: .8rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #004F4D;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-left: solid 1px rgba(0,0,0,0.2);
    }

    nav .active a {
        color: white;
    }
    nav a:hover {
        color: #c6a088;
    } 
} /*end large screens*/



/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #138380;
    font-size: 2rem;
    margin: .5rem 0 .8rem 0;
    font-weight: 300;
}
main h2 {
    color: #138380;
    margin-bottom: .2rem;
    font-weight: 300;
}
main p {
    color: #333;
    margin: 0 0 .8rem 0;
    line-height: 140%;
    font-size: 1.2rem;
}
main a {
    color: #1F2024;
    font-weight: 600;
    text-decoration: none;
}
main a:hover {
    color: #138380;
    text-decoration: underline;
}
ul li {
    color: #c6a088;
    font-weight: 600;
    line-height: 135%;
}
.photographer {
    width: 100%;
    margin: 0;
}
.photographer img, .image-right img {
    width: 100%;
    height: auto;
}

.image-right {
    float: right;
    margin: 0 0 0 2vw;
    width: 33%;
}
.image-right figcaption {
    text-align: center;
    font-size: .8rem;
}

table.services{
    width: 100%;
    border-collapse: collapse;
}

table.services th{
    background-color: #138380;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.services td {
    color: #1F2024;
    padding: .4rem 2vw;
}

table.services tr:nth-child(even) {
    background-color: #f7f7f7;
}

table.services tr:hover {
    background-color: #c6a088;
}

/* footer stuff here */
footer {
    border-top: solid #895772 1px;
    text-align: center;
    color: #138380;
    font-size: .8rem;
    padding: 1rem 0;
    clear: both;
}
footer a {
    color: #138380;
}


/* footer stuff here */
main, footer {
    max-width: 64rem;
    margin: 0 auto;
}