body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}
header h1 {
    margin: 0;
    color: #733F2D;
    font-size: 2rem;
    font-weight: 600;
}
header p {
    margin: 0;
    color: #BFA18F;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 200;
}

/* small screen start */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 1.2rem;
        font-size: 1rem;
        text-decoration: none;
        color: #BFA18F;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #733F2D; 
    }
    nav .active a {
        background-color: #733F2D;
        color: white;
    }
} /* small screens end */

    /* big screens start */
@media only screen and (min-width: 601px) {
    nav {
        background-color: #BFA18F;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        padding: .8rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-left: solid 1px rgba(0,0,0,0.2);
    }

    nav .active a {
        color: #733F2D;

    }
    nav a:hover {
        background-color: #733F2D;
        color: white;
    } 
} /* big screens end */

/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #733F2D;
    font-size: 2rem;
    margin: .5rem 0 .8rem 0;
    font-weight: 300;
}
main h2 {
    color: #733F2D;
    margin-bottom: .2rem;
    font-weight: 300;
}
main p {
    color: #030303;
    margin: 0 0 .8rem 0;
    line-height: 140%;
    font-size: 1.2rem;
}
main a {
    color: #BFA18F;
    font-weight: 600;
    text-decoration: none;
}
main a:hover {
    color: #733F2D;
    text-decoration: underline;
}
ul li {
    color: #BFA18F;
    font-weight: 600;
    line-height: 135%;
}
.photographer {
    width: 100%;
    margin: 0;
}
.photographer img, .image-right img {
    width: 100%;
    height: auto;
}

.image-right {
    float: right;
    margin: 0 0 0 2vw;
    width: 33%;
}
.image-right figcaption {
    text-align: center;
    font-size: .8rem;
}

/*Services starts here*/


table.services{
    width: 100%;
    border-collapse: collapse;
}

table.services th{
    background-color: #733F2D;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.services td {
    color: #1F2024;
    padding: .4rem 2vw;
}

table.services tr:nth-child(even) {
    background-color: #efedec;
}

table.services tr:hover {
    background-color: #BFA18F;
}
/*Services ends*/

/*form starts*/
.myForm fieldset {
    border:1px solid #BFA18F;
    border-radius: 3px;
    margin-bottom: 1rem; 
}

.myForm legend {
    color: #BFA18F;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    display: block;
}

.myForm [Type=text], .myForm [type=tel], .myForm select, .myForm textarea {
    border: solid 1px #BFA18F;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;

}

.myForm textarea { 
    height: 6rem;
}

.myForm :required {
    background-color: rgba(156,51,53,0.1);
}

.myForm [type=submit] {
background-color: #BFA18F;
border: none;
padding: 1rem 2rem;
border-radius: 10px;
color: white;
margin: 1rem 0 0 1vw;
}
/*form ends*/

/*Landmark Starts*/

/* BIG screens */
@media only screen and (min-width:601px) {

.photographerGallery {
    display: flex;
    flex-wrap: wrap;
} 
.photographerGallery section {
    flex-basis: 50%;
    margin: 1rem 0;
}

.photographerGallery span {
    display: block;
    text-align: center; 
    font-weight: 700;
    color: #BFA18F;
}
.photographerGallery img {
    width: 98%;
    height: auto;
}

.photographerGallery img:hover {
    box-shadow: 0 0 10px black;
}
/*Landmark Ends*/

/* footer stuff here */
footer {
    border-top: solid #BFA18F 1px;
    text-align: center;
    color: #BFA18F;
    font-size: .8rem;
    padding: 1rem 0;
    clear: both;
}
footer a {
    color: #BFA18F;
}
}

/* footer stuff here */
main, footer {
    max-width: 64rem;
    margin: 0 auto;}